<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Tracker</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1>Task Tracker</h1>
    <div class="container">

        <!-- TASKS SECTION-->
        <section class="panel">
            <div class="panel-header">
                <h2>Tasks</h2>
            </div>

            <form id="task-form" action="{{ url_for('add_task') }}" method="POST" class="hidden-form">
                <input type="text" name="title" placeholder="New task" required>
                <button type="submit">Add</button>
            </form>

            <ul class="task-list">
                {% for task in tasks %}
                <li>
                    <form action="{{ url_for('toggle_task', task_id=task.id) }}" method="POST">
                        <label>
                            <input type="checkbox" onchange="this.form.submit()" {% if task.done %}checked{% endif %}>
                            <abbr title="{{ task.title }}"><span class="{% if task.done %}done{% endif %}">{{ task.title }}</span></abbr>
                        </label>
                    </form>
                </li>
                {% endfor %}
            </ul>

            <form action="{{ url_for('reset_tasks') }}" method="POST" style = "display: inline;">
                <button type="submit" class="delete-btn">Reset</button>
            </form>
        </section>

        <!--HABITS SECTION-->
        <section class="panel">
            <div class="panel-header">
                <h2>Habits</h2>

            <form id="habit-form" action="{{ url_for('add_habit') }}" method="POST" class="hidden-form">
                <input type="text" name="name" placeholder="New habit" required>
                <button type="submit">Add</button>
            </form>

            <table class="habit-table">
                <tbody>
                    {% for habit in habits %}
                    <tr>
                        <td><a class="habit-btn" href="{{ url_for('habit_detail', habit_id=habit.id) }}">{{ habit.name }}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>