body {
    background-color: #f4f6f8; /* sets the fallback color */
    background-image: url("./img-gradient.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #020011;
    margin-top: 25px;
    text-align: center;
}

.panel {
    border-radius: 8px;
    border-style: solid;
    border-color:rgb(87, 77, 166);
    background: rgb(20, 20, 71);
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding-bottom: 20px;
    padding-top: 1px;
    color: #f4f6f8;
    box-shadow: -2px 4px 5px rgba(0,0,0,1);
}

.task-list{
    margin-left: 25%;
    text-align: left;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
}

.habit-btn{
    text-decoration: none;
    color: #3b65ff;
}

.timer-btn{
    color: #f4f6f8;
    margin-top: 5px;
    background-color: rgb(87, 77, 166);
    border-radius: 5px;
    border-color: rgb(87, 77, 166);
}

.timer-submit-btn{
    color: #f4f6f8;
    margin-top: 8px;
    background-color: rgb(87, 77, 166);
    border-radius: 5px;
    border-color: rgb(87, 77, 166);
}

.delete-btn{
    color: #ff1a1a;
    background-color: rgb(87, 77, 166);
    border-radius: 5px;
    border-color: rgb(87, 77, 166);
}

.add-btn{
    color: #f4f6f8;
    background-color: rgb(87, 77, 166);
    border-radius: 5px;
    border-color: rgb(87, 77, 166);
}

.habit-table {
    text-align: center;
    margin: auto;
}

.habit-table tr th{
    padding-left: 60px;
    padding-right: 60px;
}


.back-arrow{
    margin-left: 25%;
}
